.dashboard-root {
  position: relative;
  min-height: 100vh;
}

.header-wrapper {
  position: relative;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(240, 240, 255, 1) 100%
  );
  min-height: 600px; 
}

.header-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  right: 5rem;
  width: 700px; 
  height: 700px; 
  background-image: url('../assets/jobdiscussion.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.3;
  z-index: 0;
}

.header-wrapper > * {
  position: relative;
  z-index: 1;
}